body{
    background-color: #011f3f;
}

h1{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
    margin: 10%;
    color: #fef2bf;

}

.container{
    display: grid;
    grid-template: 200px 200px/200px 200px;
    gap: 50px;
    justify-content: center;
}

.button{
    background-color: red;
    border: black solid 10px;
    border-radius: 10%;
    
}

.green{
    background-color: #008000;
}

.red{
    background-color: #ff0000;
}

.yellow{
    background-color: #ffff00;
}

.blue{
    background-color: #0000ff;
}

.press{
    background-color: grey;
}

@media(max-width:500px)
{
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .button{
        flex:1;
        flex-basis: 100px;
        min-width: 100px;
    }
    h1{
        font-size: xx-large;
        text-align: center;
        line-height: 50px;
        padding-top: 10px;
    }
}
