html{
    background-color: #dbdbdb;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 20px;
}

body{
    width: 600px;
    margin: 50px auto;
    background-color: #c2c2c2;
    padding: 0 20px 20px 20px;
    border: 2px solid rgb(114, 114, 114);
}

h1{
    margin: 0 auto;
    padding-top: 5px;
    color: #00539f;
    font-size: 40px;
    text-align: center;
}

p,
li{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
}

img{
    display:block;
    margin: 15px auto;
    width: 200px;
}
